<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title th:text="${titulo}"></title>
</head>
<body>
<h1 th:text="${titulo}"></h1>
<ul>
<li><a th:href="@{/variables/string/} + 'Hola Andres'">/variables/string/Hola Andres</a></li>
<li><a th:href="@{/variables/string/} + 'Hola Paco'">/variables/string/Hola Paco</a></li>
<li><a th:href="@{/variables/string/} + 'saludos Andres' + '/' + '7'">/variables/string/saludos Andres/7</a></li>
</ul>
</body>
</html>