<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>enviar parametros del Request HTTP GET - URL</title>
</head>
<body>
<h1>enviar parametros del Request HTTP GET - URL</h1>
<ul>

<li><a th:href="@{/params/string(texto='Hola Andres')}">/params/string?texto=Hola Andres</a></li>
<li><a th:href="@{/params/string(texto='que tal john')}">/params/string?texto=que tal John</a></li>
<li><a th:href="@{/params/mix-params(saludo='como estas Andres', numero=4)}">/params/mix-params?saludo=como estas Andres&numero=4</a></li>
<li><a th:href="@{/params/mix-params-request(saludo='como estas Andres', numero=4)}">/params/mix-params-request?saludo=como estas Andres&numero=4</a></li>

</ul>
</body>
</html>